DATABASE_URL=""
DIRECT_URL=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

MERCADOPAGO_ACCESS_TOKEN=""
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_WEBHOOK_SECRET=""

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

RESEND_API_KEY=""
ADMIN_EMAIL=""
ORDER_EMAIL_FROM="The Coral Garden <no-reply@example.com>"

CRON_SECRET=""

CORREO_ARGENTINO_BASE_URL=""
CORREO_ARGENTINO_API_USER=""
CORREO_ARGENTINO_API_PASSWORD=""
CORREO_ARGENTINO_MICORREO_EMAIL=""
CORREO_ARGENTINO_MICORREO_PASSWORD=""

CORREO_ARGENTINO_DEFAULT_DELIVERY_TYPE="D"
CORREO_ARGENTINO_DEFAULT_PRODUCT_TYPE="CP"
CORREO_ARGENTINO_DEFAULT_AGENCY=""
CORREO_ARGENTINO_DEFAULT_WEIGHT="1000"
CORREO_ARGENTINO_DEFAULT_HEIGHT="20"
CORREO_ARGENTINO_DEFAULT_LENGTH="30"
CORREO_ARGENTINO_DEFAULT_WIDTH="20"
CORREO_ARGENTINO_DEFAULT_PROVINCE_CODE="B"

CORREO_ARGENTINO_SENDER_NAME=""
CORREO_ARGENTINO_SENDER_PHONE=""
CORREO_ARGENTINO_SENDER_CELLPHONE=""
CORREO_ARGENTINO_SENDER_EMAIL=""
CORREO_ARGENTINO_ORIGIN_STREET=""
CORREO_ARGENTINO_ORIGIN_STREET_NUMBER=""
CORREO_ARGENTINO_ORIGIN_FLOOR=""
CORREO_ARGENTINO_ORIGIN_APARTMENT=""
CORREO_ARGENTINO_ORIGIN_CITY=""
CORREO_ARGENTINO_ORIGIN_PROVINCE_CODE="B"
CORREO_ARGENTINO_ORIGIN_POSTAL_CODE=""
